body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

header {
  background-color: #f156d8;
  color: rgb(5, 0, 0);
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a { 
  color: rgb(17, 1, 1);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00;
}

main {
  padding: 50px 20px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.2em;
}

.group-member {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.member-details {
  width: 45%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.member-details:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.member-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member-details h3 {
  margin: 15px 0 10px;
  font-size: 1.5em;
  color: #f156d8;
}

.member-details p {
  color: #666;
  font-size: 1em;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}